@font-face {
    font-family: "Bingley";
    src: url(../fonts/bingley.otf) format("opentype");
}
@font-face {
    font-family: "Bingley Italic";
    src: url(../fonts/bingley_italic.otf) format("opentype");
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

/**
 * Основной размер шрифта нужно задавать в %, а не EM, иначе старые IE
 * при изменении размера шрифта будут сходить с ума
 */
body {
    background-color: #f6f6f6;
    color: #000;
    font-size: 14px;
    font-family: "Bingley Italic","Tahoma","Verdana","Arial","sans-serif";
    line-height: 18px;
}

.container-fluid {
    width: 100%;
}
@media (min-width: 1280px) {
    .container-fluid {
        width: 1280px;
    }
}

.block1 {
    background: url(../img/bg_01.jpg) left top no-repeat;
    width: 1280px;
    height: 774px;
}
.block2 {
    background: url(../img/bg_02.jpg) left top no-repeat;
    width: 1280px;
    height: 564px;
}
.block3 {
    background: url(../img/bg_03.jpg) left top no-repeat;
    width: 1280px;
    height: 694px;
}
.block4 {
    background: url(../img/bg_04.jpg) left top no-repeat;
    width: 1280px;
    height: 962px;
}
.block5 {
    background: url(../img/bg_05.jpg) left top no-repeat;
    width: 1280px;
    height: 969px;
}
.block6 {
    background: url(../img/bg_06.jpg) left top no-repeat;
    width: 1280px;
    height: 872px;
}
.block7 {
    background: url(../img/bg_07.jpg) left top no-repeat;
    width: 1280px;
    height: 694px;
}
.block8 {
    background: url(../img/bg_08.jpg) left top no-repeat;
    width: 1280px;
    height: 816px;
}
.block9 {
    background: url(../img/bg_09.jpg) left top no-repeat;
    width: 1280px;
    height: 940px;
}
.block10 {
    background: url(../img/bg_10.jpg) left top no-repeat;
    width: 1280px;
    height: 868px;
}
.block11 {
    background: url(../img/bg_11.jpg) left top no-repeat;
    width: 1280px;
    height: 1054px;
}
.block12 {
    background: url(../img/bg_12.jpg) left top no-repeat;
    width: 1280px;
    height: 969px;
}
.block13 {
    background: url(../img/bg_13.jpg) left top no-repeat;
    width: 1280px;
    height: 936px;
}

.cont {
    position: relative;
}

.contacts,
.contacts * {
    font-size: 24px;
    line-height: 36px;
    color: #060000;
}
.contacts a {
    color: #060000;
}
.contacts a:hover {
    text-decoration: none;
    border-bottom: 1px solid #060000;
}

.contacts {
    position: absolute;
    text-align: center;
    left: 620px;
    top: 655px;
}

ul.menu {
    font-size: 22px;
    list-style-type: none;
    padding: 0;
    margin: 46px 0 0 132px;
}

ul.menu li,
ul.menu li a {
    color: #fff;
}
ul.menu li a:hover {
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.8);
}
